.about {
    height: 750px;
    clear: both;
}
.about-left {
    float: left;
}
.about-right {
    float: right;
}
.about-right-details {
margin-top: 0;
}
.about-right-number,
.about-right-text {
    display: inline-block;
}

.about-right-number {
    float: left;
    padding: 3px;
    height: 20px;
    width: 40px;
    margin-top: 30px;
    margin-left: 29px;
    text-align: center;
    background: #f05028;
    color: #fff;
    border-radius: 2vw;
}
.about-right-text {
    height: 100%;
    margin-left: 45%;
    margin-top: 0;
}