header {
    height: 150px;
    color: #202850;
    padding: 1vw;
}

.logo {
    font-family: Roboto, Georgia, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    display: inline-block;
    width: 15%;
    margin: 1px;
}
.logo p {
    color: #202850;
}
nav {
    display: inline-block;
    width: 48%;
    margin: 1px;
}

li {
    display: inline-block;
    margin: 2px 4px;
    cursor: pointer;
    color: #202850;
}

.header-btn {
    display: inline-block;
    margin-left: 14%;
}
